{{>header}}


<body>
    {{>navbar}}
<h1>Login Page</h1>
<p>Hello </p>

<form action="/login" method="POST">
    <input type="email" placeholder="Email" name="loginemail">
    <input type="password" placeholder="Password" name="loginpassword">
    <button type="submit">Sign in</button>
    
</form>

</body>